# ------------------ General Project Information ------------------
project_name: "Automatic_Guitar_Transcription"
experiment_name: "CNN_MTL_GuitarSet"

# ------------------ Dataset and Feature Definitions ------------------
dataset: "GuitarSet" 
GuitarSet:
    drive_data_path: "/content/drive/MyDrive/Automatic Guitar Transcription/feature_extraction/guitarset_enriched_npz/"
    local_data_path: "/content/local_guitarset_data/"
    feature_to_file_map:
      hcqt: "hcqt.npy"
      mel: "mel.npy"    
      power: "power.npy" 

feature_definitions:
  cqt: {key: "cqt", in_channels: 1, num_freq: 144}   
  hcqt: {key: "hcqt", in_channels: 6, num_freq: 144} 
  mel: {key: "mel", in_channels: 1, num_freq: 256}   
  power: {key: "power", in_channels: 1, num_freq: 1} 

# ------------------ Data Loading and Processing Parameters ------------------
data:
  active_preparation_mode: "framify"
  framify_chunk_size: 500
  framify_window_size: 19
  
  augmentation:
    enabled: false  
    freq_masking_param: 24
    time_masking_param: 30

  active_features:
    hcqt: true
    mel: true
    cqt: false
    power: false
  
  target_keys: 
    tablature: true          
    hand_pos_target: true    
    activity_target: true    
    pitch_class_target: true 
    multipitch_target: true 
    onset_target: false      

  batch_size: 4
  num_workers: 2
  random_state: 42
  hop_length: 512
  sample_rate: 22050

# ------------------ Model Selection and Parameters ------------------
model:
  name: "cnn_mtl"
  params:
    num_classes: 21
    use_projection_layer: true
    projection_output_size: 256
    
    # --- BACKBONE ---
    backbone:
      type: "MultiScaleSE" 
      kernels: [[3,3], [5,5], [1,9]] 
      filters: [32, 64, 128]
      use_se_block: true    
      dropout: 0.25

    # --- HEADS ---
    heads:
      tablature: {enabled: true}
      
      hand_position: {enabled: true, num_classes: 5} 
      string_activity: {enabled: true}
      pitch_class: {enabled: true, num_classes: 12}
      multipitch: {enabled: true} 
      onset: {enabled: false}

# ------------------ Instrument Properties (Single Source of Truth) ------------------
instrument:
  tuning: [40, 45, 50, 55, 59, 64]
  min_midi: 40  
  max_midi: 88  
  num_frets: 19
  num_strings: 6
  silence_class: 20

# ------------------ Loss Function Settings ------------------
loss:
  weighting_strategy: "uncertainty" # "uncertainty" or "static"
  
  grad_cos_sim:
    enabled: true
    threshold: 0.0 # bunu araştır
  
  tablature_loss:
    type: "FocalLoss" 
    params: {gamma: 2.0, ignore_index: -1} # bunu arttırmayı deneyebilirsin

  hand_position_loss:
    enabled: true
    type: "CrossEntropyLoss"
    weight: 0.4 
  
  string_activity_loss:
    enabled: true
    type: "BCEWithLogitsLoss" 
    weight: 0.4

  pitch_class_loss:
    enabled: true
    type: "BCEWithLogitsLoss" 
    weight: 0.4
  
  multipitch_loss: 
    enabled: true
    type: "BCEWithLogitsLoss"
    weight: 0.4
    
  onset_loss: 
    enabled: false
    type: "BCEWithLogitsLoss"
    weight: 0.4
  
# ------------------ Training Parameters ------------------
training:
  optimizer:
    active_optimizer: "AdamW" 
    configurations:
      Adam: 
        differential_lr: true
        params:
          backbone_lr: 0.0001 
          head_lr: 0.0005
          loss_lr: 0.001 
          weight_decay: 0.0
      AdamW:
        differential_lr: true
        params:
          backbone_lr: 0.0003
          head_lr: 0.0006
          loss_lr: 0.001
          weight_decay: 0.01
      
  scheduler:
    active_scheduler: "ReduceLROnPlateau" # "ReduceLROnPlateau", "StepLR", or "none"
    configurations:
      ReduceLROnPlateau: {params: {monitor: "val_tab_f1", mode: "max", factor: 0.5, patience: 6, min_lr: 1.0e-6}}
      StepLR: {params: {step_size: 10, gamma: 0.5}}
      
  epochs: 200
  device: "cuda"
  use_mixed_precision: true
  
  early_stopping:
    enabled: true
    monitor: "val_tab_f1"
    patience: 12
    min_delta: 0.0001
    mode: "max"

# ------------------ Post-Processing Settings ------------------
post_processing:
  min_duration_frames: 0 # Short note filter (0 = disabled)
  prediction_threshold: 0.3 # Probability threshold  
  
# ------------------ Evaluation Metrics Settings ------------------
metrics:
  include_silence: false # Include/exclude silence class in metrics

# ------------------ Logging and Checkpoint Settings ------------------
logging_and_checkpointing:
  use_tensorboard: True
  resume_from_checkpoint: null
  log_epoch_summary: True

  # ------------------------------------------------------------------------------------
  # This section allows for granular control over log verbosity for each part of the project.
  # The hierarchy is: DEBUG > INFO > WARNING > ERROR > CRITICAL.
  # Setting a level to "DEBUG" will show all messages (DEBUG, INFO, WARNING, etc.).
  # Setting it to "INFO" will show INFO, WARNING, ERROR, etc., but hide DEBUG messages.
  # ------------------------------------------------------------------------------------
  log_levels:
    __main__: "INFO"
    src.trainer: "INFO"
    src.evaluate: "INFO"  
    src.data_loader: "INFO"  
    src.models.cnn_mtl: "DEBUG"
    src.utils.losses: "INFO"  
    src.utils.metrics: "INFO"
    src.utils.agt_tools: "INFO"
    src.utils.experiment: "INFO"
    src.utils.analyze_errors: "INFO"